* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #8A8A8A;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1200px;
    margin: auto;
}

p {
    font-size: 14px;
}

h3 {
    color: black;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}


/* logo & header buttons */
.logo {
    height: 60px;
}

.button-row{
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-row button {
    border: none;
    background: none;
    margin-right: 10px;
    margin-left: 4px;
    color: #8A8A8A;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
/* /logo & header buttons */

/* main banner */
.main-section {
    background: rgba(0, 0, 0, 0.205) url(../img/banner.jpg);
    background-blend-mode: darken;
    min-height: 500px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;    
}

.main-section-title {
    width: 640px;
    color: white;
    position: absolute;
    bottom: 0px;
    padding-left: 40px;
    padding-bottom: 50px;
}

h1 {
    font-size: 30px;
    font-weight: 300;
}
/* /main banner */

/* float section */
.float-section {
    width: 1200px;
    min-height: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* float section top row */
.float-section-row {
    min-height: 60px;
    margin-bottom: 30px;
}

.leadership-font {
    color: black;
    font-size: 32px;
    font-weight: 700;
}
/* /float section top row */

/* float section left */
.float-section-left {
    width: 20%;
    float: left;
}

.img-left-float {
    height: 200px;
    background-image: url(../img/img-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(80%);
    border-radius: 10px;
    margin-bottom: 20px;
}
/* /float section left */

/* float section middle */
.float-section-middle {
    width: calc(60% - 40px);
    margin: 0px 20px;
    float: left;
}

.img-middle-float {
    height: 200px;
    background-image: url(../img/banner-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(80%);
    border-radius: 10px;
    margin-bottom: 20px;
}
/* /float section middle */